body {
  font-family: "SF Compact Display", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
}
code {
  font-family: "Source Code Pro", Monaco, monospace;
  font-size: 28px;
  line-height: 40px;
}
.hljs-tag {
  background: none;
}
pre {
  margin: 40px;
}
em {
  font-style: normal;
  color: #bc002d;
}
a {
  text-decoration: none;
  color: #48929b;
}
a:hover {
  text-decoration: underline;
}
/* Fit menu item in one line */
.fg-menu-indicator {
  overflow: hidden;
}
.fg-menu-indicator > span.ui-icon {
  display: none;
}
